%section.hero.is-primary.is-bold
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-4
          .title= "Edit topic"
          - link to: topic_path(@conn, :index), class: "button is-primary is-outlined is-small" do
            %span.icon.is-small
              = fa_icon("arrow-left")
            %span= "Back to topics"
        .column.is-8

%section.hero
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-3
        .column.is-6
          = render "form.html", changeset: @changeset, classrooms: @classrooms, action: topic_path(@conn, :update, @topic)
        .column.is-3
