.top
  .menu
  .title
    %h4= "All"
    %h4= "Connected"
  .quit
    %h1= "X"
-# .items
-#   - for memory <- @memorys do
-#     .item
-#       .question
-#         %h4= memory.item.dim0
-#       .answers
-#         %h4= memory.item.dim0
-#         %h4= memory.item.dim1
-#         %h4= memory.item.dim2
-#         %h4= memory.item.dim3
-#         %h4= memory.item.dim4
.bottom
  %ul
    %li.minus
    %li.pass
    %li.plus

-# .app{data-variables: @memberships}
-# .app(data-variables="#{@memberships}")
