- form_for @changeset, @action, fn f ->

  .field
    %p.control.has-icons-left
      = text_input f, :title, class: "input", placeholder: "Title"
      %span.icon.is-small.is-left
        = fa_icon("pencil")

  .field.has-text-centered
    - submit class: "button is-medium is-success is-outlined" do
      %span.icon
        = fa_icon("check")
      %span= "Save"
