<h2>Show list</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @list.user_id %>
  </li>

  <li>
    <strong>Topic:</strong>
    <%= @list.topic_id %>
  </li>

</ul>

<%= link "Edit", to: list_path(@conn, :edit, @list) %>
<%= link "Back", to: list_path(@conn, :index) %>
